{% extends 'base.html' %} 

{% block content %}
<main>
  <div class="grid-x">
    <div class="cell large-8 medium-8 large-offset-1">
      <h1 class="title">{{ action }} Autora</h1>
      <form action="" method="post">
        {% csrf_token %}
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
              <label> Imię {{ form.first_name }} </label>
            </div>
            <div class="medium-6 cell">
              <label> Nazwisko {{ form.last_name }} </label>
            </div>
          </div>
        </div>
        <button class="button expanded add-button">{{ action }}</button>
      </form>
    </div>
    {% include 'right_menu.html' %}
  </div>
</main>
{% endblock %}
