{% extends 'base.html' %} 

{% block content %}
<main>
  <div class="grid-x">
    <div class="cell large-8 medium-8 large-offset-1">
      <h1 class="title">{{ action }} Ksiązkę</h1>
      <form action="" method="post">
        {% csrf_token %}
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
              <label> Tytuł {{ form.title }} </label>
            </div>
            <div class="medium-3 cell">
              <label> Liczba Stron {{ form.page_count }} </label>
            </div>
            <div class="medium-3 cell">
              <label> Rok Wydania {{ form.publish_year }} </label>
            </div>
          </div>
          <div class="medium-6 cell">
            <label> Autorzy {{ form.author }} </label>
          </div>
          <div class="medium-6 cell">
            <label> Wydawnictwo {{ form.publisher }} </label>
          </div>
        </div>
        <button class="button expanded add-button">{{ action }}</button>
      </form>
    </div>
    {% include 'right_menu.html' %}
  </div>
</main>
{% endblock %}
