<div class="large-3 cell medium-3 right" style="position: relative">
  <div class="right-container" data-sticky-container>
    <div class="sticky right-panel" data-sticky data-margin-top="0">
      <div class="grid-x">
        <div class="cell large-10 large-offset-1">
          <ul class="vertical menu">
            <h5>Menu</h5>
            <li><a href="{% url 'book_create' %}">Dodaj Książkę</a></li>
            <li><a href="{% url 'author_create' %}">Dodaj Autora</a></li>
            <li>
              <a href="{% url 'publisher_create' %}">Dodaj Wydawnictwo</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
